/*
 * Colors:
 * 790b1a logo, headers
 * 5b1d25 color_0
 * 4f040e links:visited
 * bc3c4d background_0
 * bc5e6b links
 */
body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

h1, h2, h3, h4 {
  color: #790b1a;
}

div#banner {
  padding: 1em 1em;
  text-align: center;
  background-color:  #eee;
}

div#sidebar {
  /* width: 18%; */
  position: absolute;
  width:180px;
  margin-left: 0%;
  /* padding-top: 1em;
  padding-left: 1em; */
  padding-bottom: 1em;
  padding-top: 4ex;
}

div#main {
  /* margin-left: 15em; */
  /* float: left; */
  /* margin-left: 18%; */
  margin-left: 180px;
  padding-top: 4ex;
  padding-left: 2em;
  /* background: #ffffff; */
}

div#sidebar_lang a {
  padding-left: 2em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div#sidebar ul {
  list-style-type: none;
}

span.helptext {
  padding-left: 1em;
}

div#sidebar li {
  padding: 1em;
  background-color: #bbb;
  border: 1px solid black;
  font-size: larger;
  font-weight: bold;
}

div#sidebar li.split {
  margin-top: 0.3em;
}

div#sidebar li a {
  display: block;
  text-decoration: none;
  color: #4f040e;
}
div#sidebar li a:hover { color: #bc5e6b; background-color:#4f040e; }

*.hidden {
  display: none;
}

div.selector {
  float: left;
  width: 360px;
}

div.clearer {
  clear: both;
}

a { color: #4f040e; }
a:hover { color: #bc5e6b; background-color:#4f040e; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  /* display: table; */
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

th {
  color: #790b1a;
}

th a { color: #4f040e; }
th a:visited { color: #4f040e; }
th a:hover { color: #bc5e6b; }

div.selector select {
  width: 240px;
}

fieldset {
  margin: 1em 0;
}

fieldset.filter table {
  margin-bottom: 1em;
}

fieldset.filter td {
  padding: 0.2em 1em;
}

legend {
  color: #790b1a;
  font-weight: bold;
  font-size: larger;
}

label, span.aslabel {
  color: #790b1a;
  font-weight: bold;
} 

div.selector + div.selector label {
  font-weight: normal;
}

*.sublabel {
  color: #790b1a;
  font-weight: normal;
} 

table#itemlist {
  margin: 1em 0;
  border-collapse: collapse;
  border: 2px outset gray;
}

table#itemlist th {
  padding: 0.1em 0.5em;
  border: 1px inset gray;
}

table#itemlist td {
  padding: 0.1em 0.5em;
  border: 1px inset gray;
}

table#itemlist td.tlink {
  border: none;
}

table#itemlist th.tlink {
  border: none;
}

th *.current {
  padding-right: 16px;
  background-repeat: no-repeat;
  background-position: right center;
}
th *.asc { background-image: url(down.png); }
th *.desc { background-image: url(up.png); }

input[type=text] {
  width: 720px;
}

textarea {
  width: 720px;
}

div.selector input[type=text] {
  width: 320px;
}

fieldset.filter input[type=text] {
  width: 320px;
}

b { color: #790b1a; }
