<div class='selector'>
  <%= label_tag obj_select[:id], t(obj_select[:label]) %> <br />
  <%= select_tag(obj_select[:id], options_for_select(obj_select[:items].map {|item| [item.display_name, item.id]}), {:size => '5', :id => obj_select[:id]}) %>
</div>
<div class='selector'>
  <%= t(:filter) %> <br />
  <%= render :partial => 'shared/item_filter', :object => obj_select[:id] %>
</div>
<div class='clearer'>&nbsp;</div>

